<div class="main-section">
    <h1>Woggledy woop</h1>
    <h4>words but no poop</h4>
    <button class="buteen">Doopidy</button>
</div>
<br>
<div class="row text-centred">
    <div style="margin-right: 5px;" class="col sub-section-2">
        <h3>Title thing</h3>
        i do a word but smeel a turd <br>
        i eat an sheep wool in my teeht
    </div>
    <div style="margin-left: 5px;" class="col sub-section-2">
        <h3>Title thing</h3>
        some tim i type but word not ryte <br>
        my ting it smel i go 2 hel <br>
    </div>
</div>