<div class="row">
    <div class="menu col">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
            dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
        </div>
    </div>
    <div class="page-title col-4">Ren's Project
    </div>
    <div class="account col">Account
    </div>
</div>
<div class="row">
    <a class="menu col">Recommendations
    </a>
    <a class="col">Information
    </a>
    <a class="col">Products
    </a>
    <a class="account col">Something
    </a>
</div>