<div class="navbar row">
  <div class="col-2"></div>
  <div class="col"><button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="col-3">Ren's Recommendation Site
  </div>
  <div class="col"><button mat-button [matMenuTriggerFor]="menu">Account</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col"></div>
  <!-- start of main body -->
  <div style="max-width: 1000px;" class="col-4">
    <router-outlet></router-outlet>
  </div>
  <!-- end of main body -->
  <div class="col"></div>
</div>